body {
  background-color: palevioletred;
  font-family: tahoma;
  font-size: 33px;
  text-align: center;	
}
button {
  background-color: aquamarine;
  font-size: 33px;
  padding: 5px;
  font-family: Impact;
  margin: 10px;
}
button:hover {
  background-color: yellow;
}